*{
	margin: 0;
	padding: 0;
}
.t3{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 200px;
	position:relative;
}
header {
	width: 100%;
	position: fixed;
	z-index: 9999;
	background: rgba(48, 48, 48, 0.5);
}

.top1 {
	margin-top: 10px;
	font-size: 15px;
	margin-bottom: 0;
}

.top1 li a {
	color: white;
	text-decoration: none;
}

.top1 li {
	height: 50px;
}

.top1 li:hover {
	border-bottom: 2px solid #2AABD2;
}

.top1 li:hover a {
	color: #2AABD2;
}

.top1 li a:hover {
	color: #2AABD2;
}

.top2 li {
	margin-top: 10px;
}

.top2 li {
	cursor: pointer;
}

.t1 {
	text-align: center;
	display: none;
}

.san {
	margin-top: 10px;
}

.san a {
	color: #FFFFFF;
	text-decoration: none;
}
.we{
	width: 100%;
	height: 300px;
	background-image: url(../img/as1.jpg);
	background-size: 100% 100%;
}
.we1{
	width: 100%;
	height: 50px;
	color: #000000;
	font-size: 30px;
}
.we2{
	width: 100%;
	height: 50px;
	color: #01DFFD;
	font-size: 28px;
}
.we3{
	width: 27%;
	height: 80px;
	margin: 0 auto;
}
.we4{
	width: 33%;
	color: #000000;
	font-size: 20px;
	text-align:center;
	cursor: pointer;
}
/*.we4Asty{
	color:#01DFFD !important;
}
.we4asty{
	color: #333 !important;
}
.we4 a:hover,.we4 a:focus{
	text-decoration:none; 
	color:#333;
}*/
.we4 a:hover{
	text-decoration:none; 
}
.fixed{
	position: fixed;
	top: 0px;
	z-index: 1000;
}
.wekong{
	width: 100%;
	height: 90px;
}
.wekong1{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #C0C0C0;
	line-height: 80px;
	background: #FFFFFF;
}
.ab1{
	width: 100%;
	height: 100%;
}
.kongk1{
	width: 100%;
	height: 40px;
}
.ab2{
	width: 200px;
	height: 150px;
	border: 1px solid #01DFFD;
}
.ab3{
	width: 200px;
	height: 150px;
	margin-top: 10px;
	margin-left: 10px;
}
.kon1{
	width: 100%;
	height: 20px;
}
.ab4{
	width: 100%;
	height: 20px;
	color: #000000;
	font-size: 20px;
}
.ab5{
	width: 40px;
	height: 2px;
	background: #007AFF;
}
.kon2{
	width: 100%;
	height: 10px;
}
.ab7{
	width: 100%;
	height: 700px;
	background-image: url(../img/iii2.jpg);
	background-size: 100% 100%;
}
.kon3{
	width: 100%;
	height: 60px;
}
.ab8{
	line-height: 25px;
	color: #FFFFFF;
}
.ab9{
	width: 100%;
}
.ab10{
	color: #000000;
	font-size: 20px;
}
.ab11{
	width: 100%;
	height: 25px;
}
.ab13{
	width: 100%;
	height: 650px;
	position: relative;
}
.bei1{
	width: 100%;
	height: 100%;
	background-image: url(../img/di1.jpg);
	background-size: 100% 100%;
	position: absolute;
	top: 0;left: 0;
}
.bei2{
	width: 100%;
	height: 100%;
	background-image: url(../img/di2.png);
	background-size: 100% 100%;
	position: absolute;
	top: 0;left: 0;
	display: none;
}
.ab11 img{
	margin-top: 2px;
}
.kon5{
	width: 100%;
	height: 100px;
}
.ab12{
	width: 120px;
	height: 50px;
	border: 2px solid red;
	border-radius: 30px;
	color: red;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
}
.wi{
	width: 40px;
	height: 3px;
	background: #007AFF;
}
.tt1{
	margin-left: 15px;
	font-size: 15px;
	color: #000000;
}
.kon4{
	width: 100%;
	height: 20px;
}
/*底部导航*/
.aa5{
	width: 100%;
	height: 30px;
	background: #333333;
	border-bottom: 1px solid #999999;
}
.aa6{
	width: 100%;
	height: 200px;
	background: #333333;
	color: #FFFFFF;
}
.aa7{
	width: 30%;
	height: 180px;
}
.aa8{
	width: 20%;
	height: 180px;
}
.aa9{
	width: 50%;
	height: 180px;
}
.aa10{
	width: 100%;
	height: 40px;
}
.aa11{
	width: 100%;
	height: 28px;
}
.aa10zuo{
	width: 40px;
	height: 40px;
	font-size: 50px;
	line-height: 30px;
}
.aa10you{
	width:70% ;
	height: 40px;
}
.aa12{
	width: 100%;
	height: 20px;
}
.aa13{
	width: 40px;
	height: 28px;
}
.aa14{
	height: 28px;
	font-size: 10px;
}
.aa15{
	width: 110px;
	height: 110px;
	margin: 0 auto;
}
.aa15 img{
	width: 100%;
	height: 100%;
}
.aa16{
	width: 20%;
	height: 180px;
}
.aa17{
	width: 100%;
	height: 30px;
	font-size: 15px;
}
.aa18{
	width: 100%;
	height: 20px;
	font-size: 10px;
}
.aa19{
	width: 100%;
	height: 50px;
	background-image: url(../img/aaa1.jpg);
	color: #FFFFFF;
	line-height: 50px;
}
@media only screen and (max-width:435px ) {
	.yin{
		display: none;
	}
}
@media only screen and (max-width:991px) and (min-width:600px) {
	.we3{
	width: 80%;
	height: 80px;
	margin: 0 auto;
}
.we4{
	width: 33%;
	color: #000000;
	font-size: 20px;
	text-align:center;
	cursor: pointer;
}
}
@media only screen and (max-width:599px) {
	.we3{
	width: 100%;
	height: 80px;
	margin: 0 auto;
}
.we4{
	width: 33%;
	color: #000000;
	font-size: 15px;
	text-align:center;
	cursor: pointer;
}
}