*{
	margin: 0;
	padding: 0;
}

.t3{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 200px;
	position:relative;
}
header {
	width: 100%;
	position: fixed;
	z-index: 9999;
	background: rgba(48, 48, 48, 0.5);
}

.top1 {
	margin-top: 10px;
	font-size: 15px;
	margin-bottom: 0;
}

.top1 li a {
	color: white;
	text-decoration: none;
}

.top1 li {
	height: 50px;
}

.top1 li:hover {
	border-bottom: 2px solid #2AABD2;
}

.top1 li:hover a {
	color: #2AABD2;
}

.top1 li a:hover {
	color: #2AABD2;
}

.top2 li {
	margin-top: 10px;
}

.top2 li {
	cursor: pointer;
}

.t1 {
	text-align: center;
	display: none;
}

.san {
	margin-top: 10px;
}

.san a {
	color: #FFFFFF;
	text-decoration: none;
}



.deta1{
	width: 100%;
	height: 400px;
	background-image: url(../img/bei5.jpg);
	background-size: 100% 100%;
}
.deta2{
	width: 100%;
	height: 30px;
}
.de{
	font-size: 20px;
	color: black;
	margin-left: 15px;
}
.jiujiu{
	width: 90%;
	height: 150px;
	margin-left: 5%;
	overflow: hidden;
}
.jiujiu img{
	width: 100%;
	height: 100%;
}
.tr1{
	color:#444444;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 5%;
}
.tr2{
	width: 90%;
	height: 80px;
	margin-left: 5%;
	overflow:hidden;
	text-overflow:ellipsis;
}
.progress{
	width: 90%;
	height: 5px;
	margin-left: 5%;
}
/*底部导航*/
.aa5{
	width: 100%;
	height: 30px;
	background: #333333;
	border-bottom: 1px solid #999999;
}
.aa6{
	width: 100%;
	height: 200px;
	background: #333333;
	color: #FFFFFF;
}
.aa7{
	width: 30%;
	height: 180px;
}
.aa8{
	width: 20%;
	height: 180px;
}
.aa9{
	width: 50%;
	height: 180px;
}
.aa10{
	width: 100%;
	height: 40px;
}
.aa11{
	width: 100%;
	height: 28px;
}
.aa10zuo{
	width: 40px;
	height: 40px;
	font-size: 50px;
	line-height: 30px;
}
.aa10you{
	width:70% ;
	height: 40px;
}
.aa12{
	width: 100%;
	height: 20px;
}
.aa13{
	width: 40px;
	height: 28px;
}
.aa14{
	height: 28px;
	font-size: 10px;
}
.aa15{
	width: 110px;
	height: 110px;
	margin: 0 auto;
}
.aa15 img{
	width: 100%;
	height: 100%;
}
.aa16{
	width: 20%;
	height: 180px;
}
.aa17{
	width: 100%;
	height: 30px;
	font-size: 15px;
}
.aa18{
	width: 100%;
	height: 20px;
	font-size: 10px;
}
.aa19{
	width: 100%;
	height: 50px;
	background-image: url(../img/aaa1.jpg);
	color: #FFFFFF;
	line-height: 50px;
}